<div class = "card">
    <img src="{{thumbnail}}" alt="Missing Image">
    <div>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/getPost/{{id}}">POST DETAILS</a>
    </div>
</div>