<div id = "flashMessage">
    {{#if messages.username}}
        <div class = "flashMsg" id= "errorMessage">{{messages.error}}</div>
    {{else}}
        <div class = "flashMsg" id = "successMessage">{{messages.success}}</div>
    {{/if}}

</div>