<header>
    <h1>Home Gallery</h1>
</header>
<div id="nav">
    <h3 id="logo">PhotoApp</h3>
    <div id="search">
        <input id="searchText" name="search" type="text">
        <button id="searchBtn">Search</button>
    </div>
    <div id="rightNav">
        <h3 id="user">username here</h3>
        <a href="/login" id="logOut">Log Out</a>
    </div>
</div>
<h4 style="text-align:center; font-size:2em;" id="count"></h4>
<div id="grid-container">

</div>