<header>
    <h1>Image Post</h1>
</header>

<section id="post">
    <h2 id="post-title">Post Title:<span id="post-title-value"></span></h2>
    <h3 id="post-author">Post Author:<span id="post-author-value"></span></h3>
    <h4 id="time-posted">Time Posted:<span id="time-posted-value"></span></h4>
    <img id="image" src="" alt="IMAGE">

</section>