<header>
    <h1>Login</h1>
</header>

<form action="users/login" enctype="x-www-form-urlencoded" method="POST">
    <label for="username">User Name:</label>
    <input type="text" name="username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <input type="submit" value="Login">
    <br>
    <div class='signInOption'>
        <p>New user?</p>
        <a href="/register">Register</a>
    </div>
</form>